/*html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */


a {
  color: inherit;
  text-decoration: none;
}

*{
  font-family: 'Montserrat', sans-serif
}
body{
  display: flex;
  flex-direction: column;
}
.tab{
  height: 120px;
  width: 120px;
  margin-right: 4px;
  border-radius: 5px; 
  padding:30px;
  margin: 40px;
   margin-left: 50px;
  background-color: #e0fbfc;
 
}
.tab a{
  text-decoration: none;
}
.pdf-icon{
  width:40px;
  height:40px;
  position:relative;
  left:1000px;
  bottom:120px;
}
.video-icon{
  width:60px;
  height:60px;
  position:relative;
  left:1020px;
  bottom:110px;
}

.arrow{
  width:40px;
  height:40px;
  position: relative;
  bottom:20px;
  right:9px;
}
.header{
  background-color: #3d5a80;
  color:white;
  height:300px;
  text-align:center ;
  padding-top: 45px;
  position: relative;
  /* bottom: 10px;  This was the one causing a white space between header and body */
  
}
.title{
  font-size: 80px;
  
}
.tagline{
font-weight:200;  
font-size: 30px;
position:relative;
bottom:40px;

}
.resources{
  background-color: #98c1d9;
  
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-left:80px ;
  min-height: 50vh;
    
}
.footer{
  background-color: #3d5a80;
  height:50px;
  display:flex;
  justify-content:space-around;
  color:white;
  padding-top:10px;
  
}
.unit{
  color:black;
}
.alpha{
  height: 40px;
  width: 40px;
  position: relative;
  top:25px;
  left:40px;
}
.unit-header{
  background-color: #3d5a80;
  height: 120px;
  
}
.unit-name{
  color: white;
  font-weight: 200;
  padding: 20px;
  
}
.unit-body{
  background-color: #98c1d9;  
  height: 600px;
}
#readings{
  color: white;
  font-weight: 100;
}
#videos{
  color: white;
  font-weight: 100;
}


.supar{
  background:"green";
  display:"flex";
  flex-direction:"column";
}



.upload{
  display:flex;
  flex-direction:column;

  
  padding:15px;

}


.upload__message{
  width:100%;
  fontsize:18px;
  margin-top:10px;
  margin-bottom:10px;
  text-align:center

}


.upload__create, .upload__upload{
  display:flex;
  align-items:center;
  gap:20px



}


.upload button, input, select, .upload__selected{
  padding:5px;
  border-radius:5px;
  font-size:18px;
  margin-top:20px;

}

.upload button:hover{
cursor:pointer;
}




.unit-body ul{
  display:flex;
  gap:100px;


  
}


.unit-body-body{

  display:flex;
  flex-direction:column;
  width:200px;

}


.unit-body-body h2{
  background:white;
  color:black;
  text-align:center;
  border-radius:5px;
  padding:5px;
    

}


.unit-body-body div{
  display:flex;
  flex-direction:column;
  gap:10px;

}